body {
  position: relative;
}

.navbar-brand {
  margin-left: 10px;
}
.navbar-nav {
  margin-right: 15px;
  font-size: 20px;
}
.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: skyblue;
}

#hero-section {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.3)), url(../inspirimg/smokymountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 110vh;
  text-align: center;
}
#avatar {
  border: 10px solid rgba(128,175,128,0.5);
  border-radius: 50%;
  margin-top: 180px;
  width: 30vw;
}
#hero-section h1 {
  color: rgb(0,225,170);
  text-shadow: 1px 2px 5px darkblue;
}
#tagline {
  color: rgb(0,225,170);
  text-shadow: 1px 1px 10px darkblue;
  font-size: 1.3em;
}

#mission-dv,
#skills-dv,
#inspiration-dv,
#contact-dv {
  position: relative;
  top: -65px;
}
.title {
  text-align: center;
  text-shadow: 2px 2px 5px bisque;
  margin-bottom: auto;
  padding: 1% 0;
}

#mission-section {
  padding-bottom: 3%;
  background-color: rgba(128,175,128,0.5);
  border: 1px solid rgba(10,10,10,.5);
}
#donjuan {
  width: 40vw;
  object-fit: contain;
  border-radius: 25px;
}
.p1 {
  margin: auto;
  padding-top: 3%;
  font-weight: 500;
}

#skills-section {
  background-color: rgb(115, 147, 179);
  padding-bottom: 2%;
}
section#skills-section img {
  height: 15vh;
  padding: 5%;
}
#globe {
  border-radius: 40%;
}
#skills-section p {
  text-align: center;
  text-shadow: 1px 1px 10px #d4d4d4;
  font-weight: 650;
  opacity: .8;
}

section#inspiration-section {
  background-color: #d4d4d4;
  padding: 0 10% 3% 10%;
  border: 1px solid rgba(10,10,10,.5);
}
.carousel-item img {
  object-fit: contain;
  height: 75vh;
}
.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
  border-radius: 10px;
}
.carousel-caption {
  z-index: 1;
}

#contact-section {
  border: dashed rgba(100,100,225,1) 5px;
  border-radius: 30px;
  padding: 5%;
  margin: 0 5% 3%;
}

#linkedIn img {
	opacity: .4;
	transition: .3s ease-in-out;
}
#linkedIn:hover img {
	opacity: 1;
  scale: 130%;
}
#discord img {
	opacity: .4;
	transition: .3s ease-in-out;
}
#discord:hover img {
	opacity: 1;
  scale: 130%;
}
#email img {
	opacity: .4;
	transition: .3s ease-in-out;
}
#email:hover img {
	opacity: 1;
  scale: 130%;
}

#footer-section {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  height: 10vh;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-section img {
  height: 15vh;  /* or whatever size you want */
  width: auto;
}